<h3>Signups!</h3>
<p> Signup <strong><%= @org.name %> </strong> neue Ereignisse</p>
<h4>Online Ergeignisse seit dem <%= Date.yesterday %></h4>
<table>
  <tr>
    <th>Event</th>
  </tr>

      </tr>
  <% end %>
</table>

<h3>Bitte besuchen Sie</h3>
<a href="https://dashboard.apphera.com/users/sign_in">Apphera Dashboard</a>