<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h3><%= t(:edit) %></h3>
      </div>
      <!-- /.masthead-text -->

    </div>

  </div>
  <!-- /.container -->

</div> <!-- /#masthead -->




<div id="content">

  <div class="container">


    <div class="row">

      <div class="span12">


        <%= render 'form' %>

        <%= link_to t(:back), accounts_path %>
 </div>
        </div>
      </div>
    </div>